<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js demo-5">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Pet-Posting</title>
  <meta name="description" content="Bookblock: A Content Flip Plugin - Demo 5" />
  <meta name="keywords" content="javascript, jquery, plugin, css3, flip, page, 3d, booklet, book, perspective" />
  <meta name="author" content="Codrops" />
  <link rel="shortcut icon" href="../favicon.ico">
  <link rel="stylesheet" type="text/css" href="/css/default.css" />
  <link rel="stylesheet" type="text/css" href="/css/bookblock.css" />
  <link rel="stylesheet" type="text/css" href="/css/rgbtn.css" />
  <!-- custom demo style -->
  <link rel="stylesheet" type="text/css" href="/css/demo5.css" />
  <script src="/js/modernizr.custom.js"></script>
</head>
<body>
<div class="container">
  <!-- Top Navigation -->
  <div class="codrops-top clearfix">
    <a class="codrops-icon codrops-icon-prev" href="#"><span>반려동물 MBTI 검사</span></a>
    <a href="#">공지사항</a>
    <!-- 로그아웃 버튼 추가 -->
    <!--<button type="button" class="codrops-icon codrops-icon-drop" onclick="location.href='/login'">로그아웃</button>-->
    <!--<span class="right"><button type="button" class="codrops-icon codrops-icon-drop" onclick="location.href='/login'"><span>Log-out</span></button>></span>-->
    <span class="right"><a class="codrops-icon codrops-icon-drop" onclick="location.href='/login'"><span>Log-in</span></a></span>
    <span class="right"><a class="codrops-icon codrops-icon-drop" onclick="location.href='/logout'"><span>Log-out</span></a></span>
  </div>
  <header>
    <h1>PetPosting <span>반려동물 육아일기</span></h1>
    <div>
      <button type="button" id="create-btn" th:onclick="|location.href='@{/new-article}'|" class="btn">일기작성</button>
    </div>
    <nav class="codrops-demos">
      <!--<button type="button" id="create-btn" th:onclick="|location.href='@{/new-article}'|">글 등록</button>--> <!--class="btn btn-secondary btn-sm mb-3"-->
      <!--<a id="create-btn" class="btn" th:href="@{/new-article}">일기등록</a>-->
      <a href="index.html">menu1</a>
      <a href="index2.html">menu2</a>
      <a href="index3.html">menu3</a>
      <a href="index4.html">menu4</a>
      <a href="index5.html">menu5</a>
    </nav>
  </header>
  <div class="main clearfix">
  <!--  <div class="row-6" > -->
      <ul class="bb-custom-grid" id="bb-custom-grid" >
        <li th:each="item : ${articles}"> <!-- article 개수만큼 반복 -->
<!--          <div class="card-header" th:text="${item.id}"> &lt;!&ndash; item의 id 출력&ndash;&gt;</div>-->
          <h3 class="card-title" th:text="${item.title}"></h3> <!-- item의 title 출력-->
          <!--<p class="card-text" th:text="${item.content}"></p>--> <!-- item의 content 출력-->
          <div class="bb-bookblock">
            <!--id에 해당하는 값으로 상세글 페이지로 이동(url:/article/{item.id})-->
            <!--<a th:href="@{/articles/{id}(id=${item.id})}" class="btn btn-primary">보러가기</a>-->
            <div class="bb-item"><a th:href="@{/articles/{id}(id=${item.id})}"><img src="/img/demo4/63.jpeg" alt="image01" /></a></div>
            <div class="bb-item"><a th:href="@{/articles/{id}(id=${item.id})}"><img src="/img/demo4/62.jpeg" alt="image02" /></a></div>
            <div class="bb-item"><a th:href="@{/articles/{id}(id=${item.id})}"><img src="/img/demo4/61.jpeg" alt="image03" /></a></div>
            <div class="bb-item"><a th:href="@{/articles/{id}(id=${item.id})}"><img src="/img/demo4/60.jpeg" alt="image04" /></a></div>
          </div>
          <nav>
            <span class="bb-current"></span>
            <span></span>
            <span></span>
            <span></span>
          </nav>
        </li>
      </ul>
  </div>
</div> <!-- container end -->

<script src="/js/token.js"></script>
<script src="/js/article.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/js/jquerypp.custom.js"></script>
<script src="/js/jquery.bookblock.js"></script>
<script type="text/javascript">
  var Page = (function() {

    var $grid = $( '#bb-custom-grid' );

    return {
      init : function() {
        $grid.find( 'div.bb-bookblock' ).each( function( i ) {

          var $bookBlock = $( this ),
                  $nav = $bookBlock.next().children( 'span' ),
                  bb = $bookBlock.bookblock( {
                    speed : 600,
                    shadows : false
                  } );

          // add navigation events
          $nav.each( function( i ) {
            $( this ).on( 'click touchstart', function( event ) {
              var $dot = $( this );
              $nav.removeClass( 'bb-current' );
              $dot.addClass( 'bb-current' );
              $bookBlock.bookblock( 'jump', i + 1 );
              return false;
            } );
          } );

          // add swipe events
          $bookBlock.children().on( {
            'swipeleft' : function( event ) {
              $bookBlock.bookblock( 'next' );
              return false;
            },
            'swiperight' : function( event ) {
              $bookBlock.bookblock( 'prev' );
              return false;
            }

          } );

        } );
      }
    };

  })();
</script>
<script>
  Page.init();
</script>
</body>
</html>